<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zatürre Tespiti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Akciğer Röntgeninden Zatürre Tespiti</h1>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Yükle ve Analiz Et</button>
        </form>

        {% if cnn_result and vgg16_result %}
    <div class="result">
        <h2>CNN Model Sonucu: {{ cnn_result }}</h2>
        <h2>VGG16 Model Sonucu: {{ vgg16_result }}</h2>
    </div>
{% endif %}

    </div>
</body>
</html>
